  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>index</th>
      <th>День</th>
      <th>Время</th>
      <th>Предмет</th>
      <th>Преподаватель</th>
      <th>Ауд.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Понедельник</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2</td>
      <td>Вторник</td>
      <td>9:00-10:25</td>
      <td>Компьютерные технологии лекция</td>
      <td>Лунев Д.В.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2</td>
      <td></td>
      <td>10:45-12:10</td>
      <td>Ин.яз.</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2</td>
      <td></td>
      <td>12:20-13:45</td>
      <td>Мера и интеграл Лебега</td>
      <td>Гусев Н.А.</td>
      <td>239 НК</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td></td>
      <td>17:05-18:30</td>
      <td>Современные проблемы прикладной математики</td>
      <td>-</td>
      <td>202 НК</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2</td>
      <td></td>
      <td>18:35-20:00</td>
      <td>Современные проблемы прикладной математики</td>
      <td>-</td>
      <td>202 НК</td>
    </tr>
    <tr>
      <th>14</th>
      <td>3</td>
      <td>Среда</td>
      <td>9:00-10:25</td>
      <td>Алг.и мод.выч.</td>
      <td>Плавин А.В.</td>
      <td>413  ГК</td>
    </tr>
    <tr>
      <th>15</th>
      <td>3</td>
      <td></td>
      <td>10:45-12:10</td>
      <td>Аналитическая механика</td>
      <td>Иванов А.П.</td>
      <td>202 НК</td>
    </tr>
    <tr>
      <th>16</th>
      <td>3</td>
      <td></td>
      <td>12:20-13:45</td>
      <td>Дифф.ур.</td>
      <td>Голованов Ю.В.</td>
      <td>415 ГК</td>
    </tr>
    <tr>
      <th>17</th>
      <td>3</td>
      <td></td>
      <td>13:55-15:20</td>
      <td>Аналит.мех.</td>
      <td>Семендяев С.В.</td>
      <td>413  ГК</td>
    </tr>
    <tr>
      <th>18</th>
      <td>3</td>
      <td></td>
      <td>15:30-16:55</td>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
      <td>Б.Физ.</td>
    </tr>
    <tr>
      <th>19</th>
      <td>3</td>
      <td></td>
      <td>17:05-18:30</td>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
      <td>Б.Физ.</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>21</th>
      <td>4</td>
      <td>Четверг</td>
      <td>9:00-10:25</td>
      <td>Дифференциальные уравнения</td>
      <td>Пыркова О.А.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>22</th>
      <td>4</td>
      <td></td>
      <td>10:45-12:10</td>
      <td>Гармон.ан.</td>
      <td>Трушин В.Б.</td>
      <td>516  ГК</td>
    </tr>
    <tr>
      <th>23</th>
      <td>4</td>
      <td></td>
      <td>12:20-13:45</td>
      <td>Гармонический анализ</td>
      <td>Бесов О.В.</td>
      <td>Б.Физ.</td>
    </tr>
    <tr>
      <th>24</th>
      <td>4</td>
      <td></td>
      <td>13:55-15:20</td>
      <td>Ин.яз.</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>25</th>
      <td>4</td>
      <td></td>
      <td>15:30-16:55</td>
      <td>Компьютерные технологии</td>
      <td>Чуканова О.В.</td>
      <td>801 КПМ</td>
    </tr>
    <tr>
      <th>26</th>
      <td>4</td>
      <td></td>
      <td>17:05-18:30</td>
      <td>Компьютерные технологии</td>
      <td>Чуканова О.В.</td>
      <td>801 КПМ</td>
    </tr>
    <tr>
      <th>27</th>
      <td>4</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>28</th>
      <td>5</td>
      <td>Пятница</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>29</th>
      <td>5</td>
      <td></td>
      <td>10:45-12:10</td>
      <td>Общая физика</td>
      <td>Алескеров И.А.</td>
      <td>514 ГК</td>
    </tr>
    <tr>
      <th>30</th>
      <td>5</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>31</th>
      <td>5</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>32</th>
      <td>5</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>33</th>
      <td>5</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>34</th>
      <td>5</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>35</th>
      <td>6</td>
      <td>Суббота</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>36</th>
      <td>6</td>
      <td></td>
      <td>10:45-12:10</td>
      <td>Общая физика: оптика</td>
      <td>Аланакян Ю.Р.</td>
      <td>Гл.Физ.</td>
    </tr>
    <tr>
      <th>37</th>
      <td>6</td>
      <td></td>
      <td>12:20-13:45</td>
      <td>Алгоритмы и модели вычислений</td>
      <td>Тарасов С.П.</td>
      <td>239 НК</td>
    </tr>
    <tr>
      <th>38</th>
      <td>6</td>
      <td></td>
      <td>13:55-15:20</td>
      <td>Общая физика: лаб.практикум</td>
      <td>Кубышкин А.В._Арсеньев А.Р.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>39</th>
      <td>6</td>
      <td></td>
      <td>15:30-16:55</td>
      <td>Общая физика: лаб.практикум</td>
      <td>Кубышкин А.В._Арсеньев А.Р.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>40</th>
      <td>6</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>41</th>
      <td>6</td>
      <td></td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
