  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Время</th>
      <th>Предмет</th>
      <th>Преподаватель</th>
      <th>Ауд.</th>
    </tr>
    <tr>
      <th>День</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Понедельник</th>
      <td>-</td>
      <td>1</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>1</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>1</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>1</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>1</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>1</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>1</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>Вторник</th>
      <td>Актовый зал</td>
      <td>2</td>
      <td>Компьютерные технологии лекция</td>
      <td>Лунев Д.В.</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>2</td>
      <td>Ин.яз.</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>239 НК</td>
      <td>2</td>
      <td>Мера и интеграл Лебега</td>
      <td>Гусев Н.А.</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>2</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>412 ГК</td>
      <td>2</td>
      <td>Дифф.ур.</td>
      <td>Подлипский О.К.</td>
    </tr>
    <tr>
      <th></th>
      <td>202 НК</td>
      <td>2</td>
      <td>Современные проблемы прикладной математики</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>202 НК</td>
      <td>2</td>
      <td>Современные проблемы прикладной математики</td>
      <td>-</td>
    </tr>
    <tr>
      <th>Среда</th>
      <td>-</td>
      <td>3</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>202 НК</td>
      <td>3</td>
      <td>Аналитическая механика</td>
      <td>Иванов А.П.</td>
    </tr>
    <tr>
      <th></th>
      <td>117 ГК</td>
      <td>3</td>
      <td>Общая физика</td>
      <td>Нухов А.К.</td>
    </tr>
    <tr>
      <th></th>
      <td>413  ГК</td>
      <td>3</td>
      <td>Аналит.мех.</td>
      <td>Семендяев С.В.</td>
    </tr>
    <tr>
      <th></th>
      <td>Б.Физ.</td>
      <td>3</td>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
    </tr>
    <tr>
      <th></th>
      <td>Б.Физ.</td>
      <td>3</td>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>3</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>Четверг</th>
      <td>Актовый зал</td>
      <td>4</td>
      <td>Дифференциальные уравнения</td>
      <td>Пыркова О.А.</td>
    </tr>
    <tr>
      <th></th>
      <td>413  ГК</td>
      <td>4</td>
      <td>Гармон.ан.</td>
      <td>Агаханова Я.С.</td>
    </tr>
    <tr>
      <th></th>
      <td>Б.Физ.</td>
      <td>4</td>
      <td>Гармонический анализ</td>
      <td>Бесов О.В.</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>4</td>
      <td>Ин.яз.</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>801 КПМ</td>
      <td>4</td>
      <td>Компьютерные технологии</td>
      <td>Чуканова О.В.</td>
    </tr>
    <tr>
      <th></th>
      <td>801 КПМ</td>
      <td>4</td>
      <td>Компьютерные технологии</td>
      <td>Чуканова О.В.</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>4</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>Пятница</th>
      <td>-</td>
      <td>5</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>5</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>5</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>5</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>5</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>5</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>5</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>Суббота</th>
      <td>415 ГК</td>
      <td>6</td>
      <td>Алг.и мод.выч.</td>
      <td>Тарасов С.П.</td>
    </tr>
    <tr>
      <th></th>
      <td>Гл.Физ.</td>
      <td>6</td>
      <td>Общая физика: оптика</td>
      <td>Аланакян Ю.Р.</td>
    </tr>
    <tr>
      <th></th>
      <td>239 НК</td>
      <td>6</td>
      <td>Алгоритмы и модели вычислений</td>
      <td>Тарасов С.П.</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>6</td>
      <td>Общая физика: лаб.практикум</td>
      <td>Кубышкин А.В._Арсеньев А.Р.</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>6</td>
      <td>Общая физика: лаб.практикум</td>
      <td>Кубышкин А.В._Арсеньев А.Р.</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>6</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th></th>
      <td>-</td>
      <td>6</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
