  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>День</th>
      <th>Время</th>
      <th>Предмет</th>
      <th>Преподаватель</th>
      <th>Ауд.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Понедельник</td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Вторник</td>
      <td>9:00-10:25</td>
      <td>Компьютерные технологии лекция</td>
      <td>Лунев Д.В.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>10:45-12:10</td>
      <td>Ин.яз.</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>12:20-13:45</td>
      <td>Мера и интеграл Лебега</td>
      <td>Гусев Н.А.</td>
      <td>239 НК</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>13:55-15:20</td>
      <td>Дифф.ур.</td>
      <td>Пыркова О.А.</td>
      <td>413 ГК</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>17:05-18:30</td>
      <td>Современные проблемы прикладной математики</td>
      <td>-</td>
      <td>202 НК</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>18:35-20:00</td>
      <td>Современные проблемы прикладной математики</td>
      <td>-</td>
      <td>202 НК</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Среда</td>
      <td>9:00-10:25</td>
      <td>Алг.и мод.выч.</td>
      <td>Шестаков С.А.</td>
      <td>521 ГК</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>10:45-12:10</td>
      <td>Аналитическая механика</td>
      <td>Иванов А.П.</td>
      <td>202 НК</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>12:20-13:45</td>
      <td>Общая физика</td>
      <td>Нухов А.К.</td>
      <td>117 ГК</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>13:55-15:20</td>
      <td>Аналит.мех.</td>
      <td>Иванов А.П.</td>
      <td>529 ГК</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>15:30-16:55</td>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
      <td>Б.Физ.</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>17:05-18:30</td>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
      <td>Б.Физ.</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Четверг</td>
      <td>9:00-10:25</td>
      <td>Дифференциальные уравнения</td>
      <td>Пыркова О.А.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>10:45-12:10</td>
      <td>Гармон.ан.</td>
      <td>Трушин В.Б.</td>
      <td>516  ГК</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>12:20-13:45</td>
      <td>Гармонический анализ</td>
      <td>Бесов О.В.</td>
      <td>Б.Физ.</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>13:55-15:20</td>
      <td>Ин.яз.</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>15:30-16:55</td>
      <td>Компьютерные технологии</td>
      <td>Чуканова О.В.</td>
      <td>801 КПМ</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>17:05-18:30</td>
      <td>Компьютерные технологии</td>
      <td>Чуканова О.В.</td>
      <td>801 КПМ</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Пятница</td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Суббота</td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td></td>
      <td>10:45-12:10</td>
      <td>Общая физика: оптика</td>
      <td>Аланакян Ю.Р.</td>
      <td>Гл.Физ.</td>
    </tr>
    <tr>
      <th>6</th>
      <td></td>
      <td>12:20-13:45</td>
      <td>Алгоритмы и модели вычислений</td>
      <td>Тарасов С.П.</td>
      <td>239 НК</td>
    </tr>
    <tr>
      <th>6</th>
      <td></td>
      <td>13:55-15:20</td>
      <td>Общая физика: лаб.практикум</td>
      <td>Кубышкин А.В._Арсеньев А.Р.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td></td>
      <td>15:30-16:55</td>
      <td>Общая физика: лаб.практикум</td>
      <td>Кубышкин А.В._Арсеньев А.Р.</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>6</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
