<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Предмет</th>
      <th>Преподаватель</th>
      <th>Ауд.</th>
      <th>Время</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Компьютерные технологии лекция</td>
      <td>Лунев Д.В.</td>
      <td>Актовый зал</td>
      <td>9:00-10:25</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Ин.яз.</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>10:45-12:10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Мера и интеграл Лебега</td>
      <td>Гусев Н.А.</td>
      <td>239 НК</td>
      <td>12:20-13:45</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Дифф.ур.</td>
      <td>Пыркова О.А.</td>
      <td>413 ГК</td>
      <td>13:55-15:20</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Алг.и мод.выч.</td>
      <td>Кульков А.</td>
      <td>420 ГК</td>
      <td>15:30-16:55</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Современные проблемы прикладной математики</td>
      <td>NaN</td>
      <td>202 НК</td>
      <td>17:05-18:30</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Современные проблемы прикладной математики</td>
      <td>NaN</td>
      <td>202 НК</td>
      <td>18:35-20:00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Общая физика</td>
      <td>Лапушкин Г.И.</td>
      <td>515 ГК</td>
      <td>9:00-10:25</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Аналитическая механика</td>
      <td>Иванов А.П.</td>
      <td>202 НК</td>
      <td>10:45-12:10</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Аналит.мех.</td>
      <td>Семендяев С.В.</td>
      <td>413  ГК</td>
      <td>12:20-13:45</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
      <td>Б.Физ.</td>
      <td>15:30-16:55</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
      <td>Б.Физ.</td>
      <td>17:05-18:30</td>
    </tr>
    <tr>
      <th>3</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Дифференциальные уравнения</td>
      <td>Пыркова О.А.</td>
      <td>Актовый зал</td>
      <td>9:00-10:25</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Гармон.ан.</td>
      <td>Голубев М.О.</td>
      <td>524  ГК</td>
      <td>10:45-12:10</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Гармонический анализ</td>
      <td>Бесов О.В.</td>
      <td>Б.Физ.</td>
      <td>12:20-13:45</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Ин.яз.</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>13:55-15:20</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Общая физика: лаб.практикум</td>
      <td>Баженов С.Л._Миславский В.В.</td>
      <td>NaN</td>
      <td>13:55-15:20</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Общая физика: лаб.практикум</td>
      <td>Баженов С.Л._Миславский В.В.</td>
      <td>NaN</td>
      <td>15:30-16:55</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Компьютерные технологии</td>
      <td>Скубачевский А.А.</td>
      <td>320 ЛК</td>
      <td>17:05-18:30</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Компьютерные технологии</td>
      <td>Скубачевский А.А.</td>
      <td>320 ЛК</td>
      <td>18:35-20:00</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Общая физика: оптика</td>
      <td>Аланакян Ю.Р.</td>
      <td>Гл.Физ.</td>
      <td>10:45-12:10</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Алгоритмы и модели вычислений</td>
      <td>Тарасов С.П.</td>
      <td>239 НК</td>
      <td>12:20-13:45</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>6</th>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>