  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>День</th>
      <th>Время</th>
      <th>Предмет</th>
      <th>Преподаватель</th>
      <th>Ауд.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Понедельник</td>
      <td>9:00-10:25</td>
      <td>Алг.и мод.выч. 778</td>
      <td>Горбунов Э.А.</td>
      <td>411 ГК</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>10:45-12:10</td>
      <td>Дифференциальные уравнения</td>
      <td>Пыркова О.А.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>12:20-13:45</td>
      <td>Компьютерные технологии 778</td>
      <td>Субботина А.Ю.</td>
      <td>411 ГК</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>13:55-15:20</td>
      <td>Компьютерные технологии 778</td>
      <td>Субботина А.Ю.</td>
      <td>411 ГК</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Вторник</td>
      <td>9:00-10:25</td>
      <td>Гармон.ан. 778</td>
      <td>Агаханова Я.С.</td>
      <td>410 ГК</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>10:45-12:10</td>
      <td>Компьютерные технологии лекция</td>
      <td>Лунев Д.В.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>12:20-13:45</td>
      <td>Аналит.мех. 778</td>
      <td>Маштаков Я.В.</td>
      <td>410 ГК</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>13:55-15:20</td>
      <td>Общая физика 778</td>
      <td>Локшин Г.Р.</td>
      <td>411 ГК</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>17:05-18:30</td>
      <td>Мера и интеграл Лебега</td>
      <td>Гусев Н.А.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Среда</td>
      <td>9:00-10:25</td>
      <td>Современные проблемы прикладной математики</td>
      <td>ФУПоМ</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>2</th>
      <td></td>
      <td>10:45-12:10</td>
      <td>Современные проблемы прикладной математики</td>
      <td>ФУПоМ</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>-</td>
      <td></td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Четверг</td>
      <td>9:00-10:25</td>
      <td>Общая физика 778</td>
      <td>Локшин Г.Р.</td>
      <td>410 ГК</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>10:45-12:10</td>
      <td>Общая физика: лаб.практикум 778</td>
      <td>Лобачев В.В._Жуков С.С.</td>
      <td>505 ГК</td>
    </tr>
    <tr>
      <th>3</th>
      <td></td>
      <td>12:20-13:45</td>
      <td>Общая физика: лаб.практикум 778</td>
      <td>Лобачев В.В._Жуков С.С.</td>
      <td>505 ГК</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>13:55-15:20</td>
      <td>Гармонический анализ</td>
      <td>Бесов О.В.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>15:30-16:55</td>
      <td>Алгоритмы и модели вычислений</td>
      <td>Тарасов С.П.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>17:05-18:30</td>
      <td>Гармон.ан. 778</td>
      <td>Агаханова Я.С.</td>
      <td>202 НК</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Пятница</td>
      <td>9:00-10:25</td>
      <td>Общая физика: оптика</td>
      <td>Аланакян Ю.Р.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>10:45-12:10</td>
      <td>Дифф.ур. 778</td>
      <td>Пыркова О.А.</td>
      <td>202 НК</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>12:20-13:45</td>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>4</th>
      <td></td>
      <td>13:55-15:20</td>
      <td>Доп. главы дискретного анализа</td>
      <td>Гордеев Э.Н.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>15:30-16:55</td>
      <td>Аналитическая механика</td>
      <td>Иванов А.П.</td>
      <td>Актовый зал</td>
    </tr>
    <tr>
      <th>5</th>
      <td></td>
      <td>17:05-18:30</td>
      <td>Алг.и мод.выч. 778</td>
      <td>Горбунов Э.А.</td>
      <td>239 НК</td>
    </tr>
  </tbody>
