{% extends "base.html" %}
{% load static %}

{% block title %}Input{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'tt/css/index.css' %}">
{% endblock %}


{% block content %}

        <div class = "container">
        <form id = "input_form" class="form" method = "post" novalidate>
          {% csrf_token %}
          <h5>Регистрация:</h5>
          <div class="form-group row">
            <label for="group" class="col-sm-2 col-form-label">Группа</label>
            <div class="col-sm-10">
              <select class="form-control" id="group" name="group" required>
                  <option>771</option>
                  <option>772</option>
                  <option>773</option>
                  <option>774</option>
                  <option>775</option>
                  <option>776</option>
                  <option>777</option>
                  <option>778</option>
                  <option>779</option>
              </select>
            </div>
          </div>
          <hr/>
          <h5>Рейтинги преподавателей:</h5>
          <div class="form-group row">
            <label for="Knowledge" class="col-sm-2 col-form-label">Знания</label>
            <div class="col-sm-10">
              <input type="range" class="custom-range" name="Knowledge" min="0" max="1" step="0.01" id="Knowledge">
            </div>
          </div>
          <div class="form-group row">
            <label for="Skill" class="col-sm-2 col-form-label">Умение преподавать</label>
            <div class="col-sm-10">
              <input type="range" class="custom-range" name="Skill" min="0" max="1" step="0.01" id="Skill">
            </div>
          </div>
          <div class="form-group row">
            <label for="Social" class="col-sm-2 col-form-label">В общении</label>
            <div class="col-sm-10">
              <input type="range" class="custom-range" name="Social" min="0" max="1" step="0.01" id="Social">
            </div>
          </div>
          <div class="form-group row">
            <label for="Loyality" class="col-sm-2 col-form-label">Халявность</label>
            <div class="col-sm-10">
              <input type="range" class="custom-range" name="Loyality" min="0" max="1" step="0.01" id="Loyality">
            </div>
          </div>
          <div class="form-group row">
            <label for="Total" class="col-sm-2 col-form-label">Total</label>
            <div class="col-sm-10">
              <input type="range" class="custom-range" name="Total" min="0" max="1" step="0.01" id="Total">
            </div>
          </div>
          <hr/>
          <h5>Освободить пары:</h5>
            <div class="form-row">
              <legend class="col-form-label col-sm-2 pt-0">Понедельник</legend>
              <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="mon1" name="mon1" value="00">
                      <label class="form-check-label" for="mon1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="mon2" name="mon2" value="01">
                      <label class="form-check-label" for="mon2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="mon3" name="mon3" value="02">
                      <label class="form-check-label" for="mon3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="mon4" name="mon4" value="03">
                      <label class="form-check-label" for="mon4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="mon5" name="mon5" value="04">
                      <label class="form-check-label" for="mon5">5</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="mon6" name="mon6" value="05">
                      <label class="form-check-label" for="mon6">6</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="mon7" name="mon7" value="06">
                      <label class="form-check-label" for="mon7">7</label>
                    </div>
              </div>
            </div>
            <div class="form-row">
              <legend class="col-form-label col-sm-2 pt-0">Вторник</legend>
              <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="tue1" name="tue1" value="10">
                      <label class="form-check-label" for="tue1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="tue2" name="tue2" value="11">
                      <label class="form-check-label" for="tue2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="tue3" name="tue3" value="12">
                      <label class="form-check-label" for="tue3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="tue4" name="tue4" value="13">
                      <label class="form-check-label" for="tue4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="tue5" name="tue5" value="14">
                      <label class="form-check-label" for="tue5">5</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="tue6" name="tue6" value="15">
                      <label class="form-check-label" for="tue6">6</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="tue7" name="tue7" value="16">
                      <label class="form-check-label" for="tue7">7</label>
                    </div>
              </div>
            </div>
            <div class="form-row">
              <legend class="col-form-label col-sm-2 pt-0">Среда</legend>
              <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="wed1" name="wed1" value="20">
                      <label class="form-check-label" for="wed1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="wed2" name="wed2" value="21">
                      <label class="form-check-label" for="wed2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="wed3" name="wed3" value="22">
                      <label class="form-check-label" for="wed3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="wed4" name="wed4" value="23">
                      <label class="form-check-label" for="wed4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="wed5" name="wed5" value="24">
                      <label class="form-check-label" for="wed5">5</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="wed6" name="wed6" value="25">
                      <label class="form-check-label" for="wed6">6</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="wed7" name="wed7" value="26">
                      <label class="form-check-label" for="wed7">7</label>
                    </div>
              </div>
            </div>
            <div class="form-row">
              <legend class="col-form-label col-sm-2 pt-0">Четверг</legend>
              <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="thu1" name="thu1" value="30">
                      <label class="form-check-label" for="thu1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="thu2" name="thu2" value="31">
                      <label class="form-check-label" for="thu2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="thu3" name="thu3" value="32">
                      <label class="form-check-label" for="thu3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="thu4" name="thu4" value="33">
                      <label class="form-check-label" for="thu4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="thu5" name="thu5" value="34">
                      <label class="form-check-label" for="thu5">5</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="thu6" name="thu6" value="35">
                      <label class="form-check-label" for="thu6">6</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="thu7" name="thu7" value="36">
                      <label class="form-check-label" for="thu7">7</label>
                    </div>
              </div>
            </div>
            <div class="form-row">
              <legend class="col-form-label col-sm-2 pt-0">Пятница</legend>
              <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="fri1" name="fri1" value="40">
                      <label class="form-check-label" for="fri1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="fri2" name="fri2" value="41">
                      <label class="form-check-label" for="fri2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="fri3" name="fri3" value="42">
                      <label class="form-check-label" for="fri3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="fri4" name="fri4" value="43">
                      <label class="form-check-label" for="fri4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="fri5" name="fri5" value="44">
                      <label class="form-check-label" for="fri5">5</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="fri6" name="fri6" value="45">
                      <label class="form-check-label" for="fri6">6</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="fri7" name="fri7" value="46">
                      <label class="form-check-label" for="fri7">7</label>
                    </div>
              </div>
            </div>
            <div class="form-row">
              <legend class="col-form-label col-sm-2 pt-0">Суббота</legend>
              <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="sat1" name="sat1" value="50">
                      <label class="form-check-label" for="sat1">1</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="sat2"  name="sat2" value="51">
                      <label class="form-check-label" for="sat2">2</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="sat3" name="sat3" value="52">
                      <label class="form-check-label" for="sat3">3</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="sat4" name="sat4" value="53">
                      <label class="form-check-label" for="sat4">4</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="sat5" name="sat5" value="54">
                      <label class="form-check-label" for="sat5">5</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="sat6" name="sat6" value="55">
                      <label class="form-check-label" for="sat6">6</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="checkbox" id="sat7" name="sat7" value="56">
                      <label class="form-check-label" for="sat7">7</label>
                    </div>
              </div>
            </div>


          <hr/>
          <h5>Освободить дни:</h5>
          <fieldset class="form-group">
            <div class="form-row">
              <legend class="col-form-label col-sm-2 pt-0">Дни</legend>
              <div class="col-sm-10">
                <div class="form-check ">
                  <input class="form-check-input form-check-inline" type="checkbox" name="monday" id="monday" value="1">
                  <label class="form-check-label" for="monday">
                    Понедельник
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="tuesday" id="tuesday" value="2">
                  <label class="form-check-label" for="tuesday">
                    Вторник
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="wednesday" id="wednesday" value="3">
                  <label class="form-check-label" for="wednesday">
                    Среда
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="thursday" id="thursday" value="4">
                  <label class="form-check-label" for="thursday">
                    Четверг
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="friday" id="friday" value="5">
                  <label class="form-check-label" for="friday">
                    Пятница
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="saturday" id="saturday" value="6">
                  <label class="form-check-label" for="saturday">
                    Суббота
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
            <hr/>
          <h5>Окна:</h5>
          <div class="form-group row">
            <label for="windows" class="col-sm-2 col-form-label">Количество окон</label>
            <div class="col-sm-10 m-1">
              <input type="range" class="custom-range" name="windows" min="0" max="1" step="0.01" id="windows">
            </div>
          </div>
            <hr/>
          <h5>Время:</h5>
            <label for="time" class="col-sm-2 col-form-label">Важность</label>
            <div class="col-sm-10 mb-3">
              <input type="range" class="custom-range" name="time" min="0" max="1" step="0.01" id="time">
            </div>
            <hr/>
          <div class="form-row">
            <div class="form-row col-md-4">
                <div class="col-sm-10">
                  <select class="form-control" id="start" name="start">
                      <option value="1">Выберите время начала...</option>
                      <option value = "1">Начинать раньше</option>
                      <option value = "-1">Начинать позже</option>
                  </select>
                </div>
            </div>
            <div class="form_row col-mb-8" >
                <div class="form-check ">
                  <input class="form-check-input form-check-inline" type="checkbox" name="monday_start" id="monday_start" value="1">
                  <label class="form-check-label" for="monday_start">
                    Понедельник
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="tuesday_start" id="tuesday_start" value="2">
                  <label class="form-check-label" for="tuesday_start">
                    Вторник
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="wednesday_start" id="wednesday_start" value="3">
                  <label class="form-check-label" for="wednesday_start">
                    Среда
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="thursday_start" id="thursday_start" value="4">
                  <label class="form-check-label" for="thursday_start">
                    Четверг
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="friday_start" id="friday_start" value="5">
                  <label class="form-check-label" for="friday_start">
                    Пятница
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input form-check-inline" type="checkbox" name="saturday_start" id="saturday_start" value="6">
                  <label class="form-check-label" for="saturday_start">
                    Суббота
                  </label>
                </div>
            </div>

          </div>
            <hr/>
          <div class="form-row">
            <div class="form-row col-md-4">
                <div class="col-sm-10">
                  <select class="form-control" id="end" name="end" aria-label="as">
                      <option value="1"> Выберите время окончания...</option>
                      <option value = "1">Заканчивать раньше</option>
                      <option value = "-1">Заканчивать позже</option>
                  </select>
                </div>
            </div>
            <div class="form_row col-mb-8" >
                <div class="form-check ">
                  <input class="form-check-input " type="checkbox" name="monday_end" id="monday_end" value="1">
                  <label class="form-check-label" for="monday_end">
                    Понедельник
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input " type="checkbox" name="tuesday_end" id="tuesday_end" value="2">
                  <label class="form-check-label" for="tuesday_end">
                    Вторник
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input " type="checkbox" name="wednesday_end" id="wednesday_end" value="3">
                  <label class="form-check-label" for="wednesday_end">
                    Среда
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input " type="checkbox" name="thursday_end" id="thursday_end" value="4">
                  <label class="form-check-label" for="thursday_end">
                    Четверг
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="friday_end" id="friday_end" value="5">
                  <label class="form-check-label" for="friday_end">
                    Пятница
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="saturday_end" id="saturday_end" value="6">
                  <label class="form-check-label" for="saturday_end">
                    Суббота
                  </label>
                </div>
            </div>

          </div>

              <button type="submit" class="btn-lg btn-outline-success mb-lg-5 shadow ">Optimize</button>
            </div>
          </div>
        </form>
    </div>

        {{filename}}
        {{group}}
        {{Knowledge}}
        {{Skill}}
        {{Social}}
        {{Loyality}}
        {{Total}}
        {{days}}
     {{ windows }}


        {{time}}
        {{start}}
        {{days_start}}
        {{end}}
        {{days_end}}

{% endblock %}
